.descricao {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.menu{
    padding: 10px;
    display: flex;
    justify-content: start;  
 }
 .menu a{
     padding: 10px; 
  }
  .menu a:hover{
    color: green; 
 }


.br-5{
    border-radius: 5px;
}